amqp==5.0.6
asgiref==3.3.4
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
dataclasses==0.8
fastapi==0.65.2
GPUtil==1.4.0
h11==0.12.0
idna==2.10
importlib-metadata==4.5.0
kombu==5.1.0
numpy==1.19.5
opencv-python==4.5.2.54
Pillow==8.2.0
pkg-resources==0.0.0
prompt-toolkit==3.0.19
pydantic==1.8.2
pytz==2021.1
redis==3.5.3
requests==2.25.1
six==1.16.0
starlette==0.14.2
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.14.0
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.1
