amqp==5.0.6
asgiref==3.4.1
billiard==3.6.4.0
celery==5.1.2
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
fastapi==0.68.1
h11==0.12.0
idna==3.2
kombu==5.1.0
numpy==1.21.2
nvidia-ml-py3==7.352.0
opencv-python==4.5.3.56
Pillow==8.3.2
prometheus-client==0.11.0
prompt-toolkit==3.0.20
pydantic==1.8.2
pytz==2021.1
redis==3.5.3
requests==2.26.0
six==1.16.0
starlette==0.14.2
starlette-exporter==0.10.0
tqdm==4.62.2
typing-extensions==3.10.0.2
urllib3==1.26.6
uvicorn==0.15.0
vine==5.0.0
wcwidth==0.2.5
